section#adiciona-imovel {
    display: flex;
    flex-flow: column nowrap;
    margin: 30px;
    gap: 20px;
}

section#adiciona-imovel div:nth-child(1) {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    gap: 10px;
    grid-column: 1 / -1;
}

/* ===== INPUT DE BUSCA E BOTÃO ===== */

#novo-imovel-btn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--accent-gold);
    color: var(--text-light);
    cursor: pointer;
    transition: background-color .3s;
    font-weight: bold;
    width: 300px;
    min-width: 200px;
}

#novo-imovel-btn:hover {
    background-color: var(--gold);
}

#buscar {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--bg-accent-light);
    background-color: transparent;
    color: white;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.162);
    width: 300px;
    min-width: 200px;
}

#buscar::placeholder {
    color: var(--bg-accent-light);
}

#buscar:focus {
    outline: 2px solid var(--accent-gold);
}

/* TABELA */

div#lista-imovel {
    overflow-x: auto;
    padding-bottom: 5px; /* Espaço para o scroll */
    border-radius: 10px;
}

/* ESTILIZAÇÃO DO SCROLLBAR - Chrome, Edge e Safari */
div#lista-imovel::-webkit-scrollbar {
    height: 8px; /* altura do scroll horizontal */
    border-radius: 10px;
}

div#lista-imovel::-webkit-scrollbar-track {
    background: var(--bg-secondary); /* fundo do track */
    border-radius: 10px;
}

div#lista-imovel::-webkit-scrollbar-thumb {
    background-color: var(--accent-gold); /* cor da "barra" */
    border-radius: 10px;
    border: 2px solid var(--bg-accent); /* espaço ao redor */
}

/* Firefox */
div#lista-imovel {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-gold) var(--bg-secondary);
}

div#lista-imovel table {
    border-collapse: collapse;
    border: none;
    color: white;
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 0.9em;
    margin: auto;
}

div#lista-imovel td, div#lista-imovel th{
    padding: 10px;
}

div#lista-imovel th {
    color: var(--accent-gold);
    background-color: var(--bg-dark);
}

div#lista-imovel td {
    background-color: var(--bg-dark);
    text-align: center;
}

div#lista-imovel img {
    max-width: 100px;
    width: auto;
    border-radius: 5px;
}

div#lista-imovel td:nth-child(10) {
    font-weight: bold;
}

div#lista-imovel td:nth-child(11) {
    color: red;
    font-size: 16px;
}

div#lista-imovel td:nth-child(12) {
    color: var(--bg-accent-light);
    font-size: 16px;
}


div#lista-imovel td i {
    cursor: pointer;
}

div#lista-imovel td i:hover {
    filter: brightness(0.9);
}

.disponivel {
    color: lime;
}

.alugado {
    color: orange;
}

.vendido {
    color: red;
}

/* FORMULÁRIO DE NOVO IMÓVEL */

form#novo-imovel {
    display: grid;
    gap: 10px;
    width: 80vw;
    max-width: auto;
    align-self: center;
    background-color: var(--bg-dark);
    padding: 20px;
    border-radius: 20px;
}

form#novo-imovel h2 {
    color: white;
    font-family: var(--font-chamativa);
    font-size: 3em;
    text-decoration: underline;
}

.input-group, .form-control {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.input-group label, .form-control label {
    color: var(--accent-gold);
    font-weight: bold;
}

.input-group select, .input-group textarea {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--bg-accent-light);
    background-color: transparent;
    color: white;
    background-color: var(--bg-dark); /* fundo das opções */
    color: var(--text-light); /* cor do texto das opções */
    appearance: none;
}

.form-control input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--bg-accent-light);
    background-color: transparent;
    color: white;
}

div#descricao {
    grid-column: 1 / -1;
}

div#descricao textarea {
    resize: none;
}

.file-upload input[type="file"] {
    display: none;
}

/* Estiliza o label como botão */
.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--bg-accent);
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.custom-file-label:hover {
    background-color: var(--bg-accent-light);
}

#file-chosen {
    margin-left: 10px;
    font-style: italic;
    color: var(--text-light);
}

#save-imovel-btn {
    grid-column: 1 / -1;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: var(--accent-gold);
    color: white;
    font-weight: bold;
    width: 100px;
    margin: auto;
    cursor: pointer;
    transition: background-color .3s ease;
}

#save-imovel-btn:hover {
    background-color: var(--gold);
}

@media only screen and (min-width: 1024px) {
    form#novo-imovel {
        grid-template-columns: 1fr 1fr;
    }

    form#novo-imovel h2 {
        grid-column: 1 / -1;
    }

    #descricao {
        grid-column: 1 / -1;
        height: 150px;
    }

    .file-upload {
        grid-column: 1 / -1;
    }
}