.navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 3;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-brand img{
    width: 60px;
    height: 60px;
}

.navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: darkgray;
}