@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('navbar.css');

:root {
    --font-default: 'Montserrat', Arial, Helvetica, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-default);
}

body {
    color: white;
    background-color: rgb(53, 53, 53);
}

.background-image-container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.background-image {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.background-image.active {
    position: absolute;
    z-index: 1;
}

.dark-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.800);
    z-index: 1;
}

.find-property-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    gap: 10px;
}

.find-property-container h1 {
    font-size: 2em;
}

.find-property-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 53, 53);
    gap: 20px;
    padding: 20px;
    border-radius: 40px;
}

.input-text {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: white 1px solid;
    color: white;
}

#filters {
    padding: 10px 20px;
    border-color: white;
    color: white;
    border-width: 1px;
    border-radius: 20px;
    background-color: transparent;
}

.submit-btn {
    font-weight: bold;
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 15px;
    border-color: transparent;
}

section#best-options {
    padding: 40px;
}

section#best-options h1 {
    display: block;
    color: white;
    font-size: 1.5em;
    margin: auto auto auto auto;
    width: fit-content;
    padding: 10px 20px;
    border: rgb(255, 255, 255) 4px solid;
    border-radius: 50px;
}

div#best-options-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    gap: 20px;
}

div#best-options-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best-options-image {
    border-radius: 20px;
    border: black 1px solid;
}